@charset "utf-8";

html,body {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

:root {
    --color-gr: #6F9084;
    --color-back: #fafafa;
    --color-white: #ffffff;
    --color-border: #E5E5E5;
    --color-font: #555555;
}


/* section */

.sub_title_wrap {
    margin-bottom: 1.6rem;
}

.contents_wrap {
    display: flex;
    width: 100%;
    gap: 2.4rem;
}

.contents_wrap .contents01 {
    width: 58rem;
}

.contents_wrap .contents02 {
    width: calc(100% - 58rem);
    max-width: 87.6rem;
}

/* contents01 */

.input-contents-list li {
    padding-bottom: 1.6rem;
}

.list01_input01,
.list01_input02 {
    width: 100%;
    display: flex;
    align-items: center;
}

.list01_input01 p,
.list01_input02 p,
.list01_date p,
.list01_radio p {
    width: 16rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.list01_date {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list01_date .input_text {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.list01_date input[type=date] {
    width: 100%;
    padding: 1.7rem 1.6rem;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    font-size: 1.3rem;

}

.list01_radio {
    display: flex;
    align-items: center;
}



.list01_radio .radio_wrap {
    width: 100%;
    display: flex;
    gap: 3rem;
}


.input_text {
    width: 100%;
}

.list01_input01 input {
    width: 100%;
    padding: 0;
}




/* contents02 */

.contents-list-wrap {
    padding-bottom: 2.8rem;
    width: 100%;
}

.contents-list .list {
    display: flex;
    width: 100%;
}

.contents-list .list {
    display: flex;
    width: 100%;
}

/* List-header */

.list .hdlist {
    font-size: 1.4rem;
    font-weight: 600;
    background: var(--color-gr);
    color: var(--color-white);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .hdlist.number,
.list .hdlist.survey,
.list .hdlist.record,
.list .hdlist.form {
    padding: 0 1.65rem;
}

.list .hdlist.subjectnumber,
.list .hdlist.age,
.list .hdlist.gender,
.list .hdlist.manager {
    padding: 0 2.73rem;
}

.list .hdlist.initial {
    padding: 0 2rem;
}

.list .hdlist.registerday {
    padding: 0 3.8rem;
}


.list .bodylist {
    font-size: 1.4rem;
    font-weight: 500;
    background: var(--color-white);
    color: var(--color-font);
    border-bottom: 1px solid var(--color-border);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .bodylist.number {
    padding: 0 1.3rem;
}

.list .bodylist.subjectnumber {
    padding: 0 3rem;
}

.list .bodylist.initial,
.list .bodylist.gender,
.list .bodylist.manager {
    padding: 0 2.7rem;
}

.list .bodylist.age,
.list .bodylist.form {
    padding: 0 2.5rem;
}

.list .bodylist.form,
.list .bodylist.survey,
.list .bodylist.record {
    padding: 0 2.4rem;
}

.list .bodylist.registerday {
    padding: 0 1.8rem;
}


.arrow_wrap {
    width: 3rem;
    height: 3rem;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
} 
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 1;
}

.input_text input[type="date"]:after {
    background: url(/img/ico-date.svg) no-repeat;
    content: '';
    top:50%;
    width: 1.4rem;
    height: 1.4rem;
}

.list_button_wrap {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.list_button {
    display: flex;
    gap: 0.4rem;
    cursor: pointer;
}

.list_button li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.4rem;
}


/* button */

.btn_wrap {
    display: flex;
    justify-content: right;
    padding-top: 35.4rem;
}

.btn_wrap02 {
    display: flex;
    justify-content: right;
}