@charset "utf-8";


body {
    width: 100%;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

h2,
h3 {
    font-weight: 700;
}

:root {
    --color-white: #ffffff;
    --color-gr01: #436D61;
    --color-gr02: #6F9084;
    --color-black: #555555;
    --color-font: #303030;
    --color-fontgray: #999999;
    --color-linegray: #e5e5e5;
}

/* main-title */

.title {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* contents01 */

.contents01 {
    /* border: 1px solid red; */
    margin-bottom: 2.4rem;
    padding: 1.6rem 3.2rem;
}

.contents01_wrap {
    display: flex;
    gap: 6rem;
    width: 100%;
    max-width: 98rem;
    /* border: 1px solid red; */
}

.subject-select,
.subject-number {
    display: flex;
    width: 100%;
    align-items: center;
}

.subject-select h3,
.subject-number h3 {
    padding: 1.6rem 0;
    width: 16rem;
}

.select_wrap {
    width: 100%;
}

.subject-select select,
.subject-number select {
    width: 100%;
    max-width: 30rem;
    border: 1px solid var(--color-linegray);
    padding: 1.6rem 1.7rem;
    border-radius: 4px;
}

/* contents02 */

.contents02 {
    width: 100%;
    /* border: 1px solid red; */
}

/* chart-info */

.chart-info h3 {
    margin-bottom: 1.6rem;
}

.chart-info_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info_list{
    width: calc(100% / 3);
    display: flex;
}

.info_list p {
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.info_list_title {
    width: 100%;
    max-width: 18.8rem;
    background: var(--color-gr02);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    height: 4rem;
}

.info_list_sub {
    height: 4rem;
    width: 100%;
    max-width: 28.4rem;
    background: var(--color-white);
    color: var(--color-font);
    border: 1px solid var(--color-linegray);
}

.checklist {
    width: 100%;
    max-width: 28.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    align-items: center;
    padding: 0 1.6rem;
}

/* chart-record */

.chart-record_wrap {
    width: 100%;
}

.chart-record_list {
    display: flex;
}

.record_list {
    height: 4rem;
    padding: 0 12.2rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
}

.recordlist01 {
    padding: 0 9.5rem;
}


/* .chart */