@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin: 0;
    }
html {
    font-size: 10px;
    }
/* 색상 */
:root {
    --main:#26B4CE;
    --secondly:#0C97D7;
    --point1:#68182C;
    --point2:#CB8D68;
    --point3:#FF9300;
    --disable:#CACACA;
    --black:#101314;
    --danger:#F50000;
}
/* 버튼 */

/* 공통 */
body{
  background: #FAFAFA;
}
.scrollLock{
    overflow: hidden;
}
@media (max-width: 480px) {
 
  }
.popup {
    z-index: 2000;
}

.test1 {
    background: url(/img/img-1@2x.png) no-repeat 50% 50%;
    background-size: cover;
}
.test2 {
    background: url(/img/img-2@2x.png) no-repeat 50% 50%;
    background-size: cover;
}
.test3 {
    background: url(/img/img-3@2x.png) no-repeat 50% 50%;
    background-size: cover;
}
.test4 {
    background: url(/img/img-4@2x.png) no-repeat 50% 50%;
    background-size: cover;
}


/* 마진 */
.mb4{
    margin-bottom: 0.4rem !important;
}
.mb8{
    margin-bottom: 0.8rem !important;
}
.mb12{
    margin-bottom: 1.2rem !important;
}
.mb16{
    margin-bottom: 1.6rem !important;
}
.mb20{
    margin-bottom: 2rem !important;
}
.mb24{
    margin-bottom: 2.4rem !important;
}
.mb28{
    margin-bottom: 2.8rem !important;
}
.mb30{
  margin-bottom: 3rem !important;
}
.mb32{
    margin-bottom: 3.2rem !important;
}
.mb36{
    margin-bottom: 3.6rem !important;
}
.mb40{
    margin-bottom: 4rem !important;
}
.mb80{
    margin-bottom: 8rem !important;
}

.mt4{
    margin-top: 0.4rem !important;
}
.mt8{
    margin-top: 0.8rem !important;
}
.mt12{
    margin-top: 1.2rem !important;
}
.mt16{
    margin-top: 1.6rem !important;
}
.mt20{
    margin-top: 2rem !important;
}
.mt24{
    margin-top: 2.4rem !important;
}
.mt28{
    margin-top: 2.8rem !important;
}
.mt30{
  margin-top: 3rem !important;
}
.mt32{
    margin-top: 3.2rem !important;
}
.mt36{
    margin-top: 3.6rem !important;
}
.mt40{
    margin-top: 4rem !important;
}
.mt60{
  margin-top: 6rem !important;
}
.ml4{
    margin-left: 0.4rem !important;
}
.ml8{
    margin-left: 0.8rem !important;
}
.ml12{
    margin-left: 1.2rem !important;
}
.ml16{
    margin-left: 1.6rem !important;
}

.mr4{
    margin-right: 0.4rem !important;
}
.mr8{
    margin-right: 0.8rem !important;
}
.mr12{
    margin-right: 1.2rem !important;
}
.mr4{
    margin-right: 0.4rem !important;
}
.mr16{
    margin-right: 1.6rem !important;
}
.mr30{
  margin-right: 3rem !important;
}
.mr32{
  margin-right: 3.2rem !important;
}
.mr60{
  margin-right: 6rem !important;
}
/* 패딩 */
.pb4{
    padding-bottom: 0.4rem !important;
}
.pb8{
    padding-bottom: 0.8rem !important;
}
.pb12{
    padding-bottom: 1.2rem !important;
}
.pb16{
    padding-bottom: 1.6rem !important;
}
.pb20{
    padding-bottom: 2rem !important;
}
.pb24{
    padding-bottom: 2.4rem !important;
}
.pb28{
    padding-bottom: 2.8rem !important;
}
.pb32{
    padding-bottom: 3.2rem !important;
}
.pb36{
    padding-bottom: 3.6rem !important;
}
.pb40{
    padding-bottom: 4rem !important;
}  

.pt4{
    padding-top: 0.4rem !important;
}
.pt8{
    padding-top: 0.8rem !important;
}
.pt12{
    padding-top: 1.2rem !important;
}
.pt16{
    padding-top: 1.6rem !important;
}
.pt20{
    padding-top: 2rem !important;
}
.pt24{
    padding-top: 2.4rem !important;
}
.pt28{
    padding-top: 2.8rem !important;
}
.pt32{
    padding-top: 3.2rem !important;
}
.pt36{
    padding-top: 3.6rem !important;
}
.pt40{
    padding-top: 4rem !important;
}  
.p32{
  padding: 3.2rem;
}


/* 플렉스 */
.flex {
    display: flex;
}
.flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-csb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-column {
    display: flex;
    flex-direction: column !important;
}
.flex-start{
  display: flex;
  justify-content: flex-start !important;
}
.flex-sb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 스크롤 커스텀 */
.scroll::-webkit-scrollbar {
  width: 6px;
}
.scroll::-webkit-scrollbar-track {
  background: #fafafa; 
}
.scroll::-webkit-scrollbar-thumb {
  background: #E7EDFC; 
  border-radius: 999px;
}





/* common */
.common_title{
  font-size: 1.8rem;
  font-weight: 500;
}
/* 컴포넌트 */
input[type='checkbox'],input[type='radio']{
  display: none;
}
input[type='checkbox'] + label , input[type='radio'] + label{
  display: flex;
  align-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #555555;
  cursor: pointer;
}
input[type='checkbox'] + label::before{
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(/img/ico_checkbox_n.svg) 0% 0% no-repeat;
  background-size: contain;
  margin-right: 4px;
}
input[type='checkbox']:checked + label::before{
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(/img/ico_checkbox_a.svg) 0% 0% no-repeat;
  background-size: contain;
  margin-right: 4px;
}
/* 라디오 */
input[type='radio'] + label::before{
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(/img/ico_radio_n.svg) 0% 0% no-repeat;
  background-size: contain;
  margin-right: 4px;
}
input[type='radio']:checked + label::before{
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(/img/ico_radio_a.svg) 0% 0% no-repeat;
  background-size: contain;
  margin-right: 4px;
}
/* 인풋 텍스트 */
.input_text{
  max-width: 48rem;
}
input[type='text'], input[type='number'],input[type='password'],input[type='email']{
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #555555;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 0 1.6rem;
  line-height: 4.8rem;
  height: 4.8rem;
}
input[type='text']::placeholder, input[type='number']::placeholder{
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 100%;
  color: #999999;
}
input[type='text']:disabled, input[type='number']:disabled{
  background-color: #EEEEEE;
}
input[type='text']:disabled::placeholder, input[type='number']:disabled::placeholder{
  color: #ccc;
}
.bg-gr > input[type='text'], input[type='number']{
  background: #F7F7F7;
  border: 0;
}

/* input - date */
.date_wrap{
  display: flex;
  align-items: center;
}
.date_wrap span{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  margin: 0 .8rem;
}
.date_wrap input[type='date']{
  width: 100%;
  max-width: 17rem;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 1.6rem;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #303030;
  height: 48px;
  position: relative;
  cursor: pointer;
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
} 
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 1;
} 
.date_wrap input[type='date']::after{
  position: absolute;
  top:50%;
  right :1.6rem;
  content: '';
  width: 16px;
  height:16px;
  background: url('/img/ico_calendar.svg') center center /contain;
  transform: translateY(-50%);
  z-index: 0;
}


/* 버튼 */
.btn{
  padding: 1.6rem 3.6rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
}
.btn.bg_gr{
  background: #436D61;
  color: #FFFFFF;
}
.btn.bg_gr02{
  background: #6F9084;
  color: #FFFFFF;
}
.btn.bg_wh{
  background: #FFFFFF;
  border: 1px solid #436D61;
  color: #436D61;
}

/* 페이지네이션 */
.pagenation_wrap{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 1.6rem 0;
}
.pagenation_wrap > button{
  padding: .8rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  text-align: center;
  color: #303030;
  margin-right: .4rem;
}
.pagenation_wrap > div> button{
  padding: .8rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  text-align: center;
  color: #303030;
  margin-right: .4rem;
}

.pagenation_wrap > button:last-child{
  margin-right: 0;
}
.pagenation_wrap .num:hover{
  text-decoration: underline;
}
.pagenation_wrap .num.active{
  font-weight: 600;
  color: #436D61;
  border-right: 0;
}
.pagenation_wrap button.prevprev{
  width: 3rem;
  height: 3rem;
  background-image: url(/img/ico_prevprev.svg);
  background-size: contain;
}
.pagenation_wrap button.prev{
  width: 3rem;
  height: 3rem;
  background-image: url(/img/ico_prev.svg);
  background-size: contain;
}
.pagenation_wrap button.nextnext{
  width: 3rem;
  height: 3rem;
  background-image: url(/img/ico_netxnext.svg);
  background-size: contain;
}
.pagenation_wrap button.next{
  width: 3rem;
  height: 3rem;
  background-image: url(/img/ico_netx.svg);
  background-size: contain;
}
/* 드롭다운 */
/* footer 드롭다운 */
.dropbtn {
  max-width: 30rem;
  width: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 100%;
  color: #303030;
  cursor: pointer;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 1.6rem;
  height: 4.8rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropbtn::after{
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(/img/ico_dropdown.svg) center center no-repeat;
  transform: rotate(-180deg);
  background-size: contain;
}
.dropbtn:hover, .dropbtn:focus {
  /* border: 1px solid #4571E9;
  color: #303030; */
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropup {
  position: relative;
  display: inline-block;
}
.w160{
  width: 16rem;
}
.dropup .dropdown-content{
  display: none;
  position: absolute;
  max-width: 30rem;
  width: 100%;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 12px 12px rgba(99, 107, 128, 0.05);
  border-radius: 4px;
  max-height: 44rem;
  overflow-y: auto;
  bottom: 100%;
}
.dropdown-content {
  display: none;
  position: absolute;
  max-width: 30rem;
  width: 100%;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 12px 12px rgba(99, 107, 128, 0.05);
  border-radius: 4px;
  max-height: 44rem;
  overflow-y: auto;
  /* bottom: 100%; */
}
.dropdown-content a {
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
}
.dropdown-content a:hover{
  background-color: #fafafa;
}
/* footer 드롭다운 */
.dropbtn_ft {
  width: 13rem;
  font-size: 1.4rem;
  cursor: pointer;
  border: 1px solid #999999;
  padding: 1.2rem 1.6rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  line-height: 1.4rem;
  font-weight: 500;
  line-height: 100%;
  color: #999999;
}
.dropbtn_ft::after{
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(/img/ico_dropdown.svg) center center no-repeat;
  background-size: contain;
}
.dropbtn_ft:hover, .dropbtn_ft:focus {
  /* border: 1px solid #4571E9;
  color: #303030; */
}
.footer_dropdown {
  position: relative;
  display: inline-block;
}
.ft_dropdown-content {
  display: none;
  position: absolute;
  min-width: 13rem;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 12px 12px rgba(99, 107, 128, 0.05);
  border-radius: 4px;
  max-height: 44rem;
  overflow-y: auto;
  bottom: 100%;
}
.ft_dropdown-content a {
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
}
.ft_dropdown-content a:hover{
  background-color: #fafafa;
}
.show {
  display:block !important;
}


/* 공통 header */
header.header_wrap{
  width: calc(100% - 6.4rem);
  padding: 1.6rem 3.2rem;
  display: flex;
  align-items: center;
  background: #FAFAFA;
  border-bottom: 1px solid #E5E5E5;
}
header.header_wrap h1{
  max-width: 11.6rem;
}
header.header_wrap img{
  width: 100%;
}

/* 공통 레이아웃 */
section.section{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.left_gnb{
  min-width: 32rem;
  min-height: calc(100vh - 6.7rem - 13.6rem);
}
.container{
  padding: 3rem 6rem;
  min-height: calc(100vh - 6.7rem - 13.6rem);
  border-left: 1px solid #E5E5E5;
}
.main_title{
  font-weight: 600;
  font-size: 2rem;
  line-height: 100%;
  color: #303030;
  margin-bottom: 1.6rem;
}
.contents{
  padding: 3.2rem;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  border-radius: .8rem;
}
.contents .sub_title_wrap{
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #E5E5E5;
}
.contents .sub_title_wrap h3{
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #303030;  
}


/* 관리자페이지 내부 레이아웃 */
/* 왼쪽 계정 정보 */
.flex-end{
  display: flex;
  align-items: flex-end;
}
.left_gnb .user_wrap {
  padding: 6rem 3.6rem 3.6rem;
  background: #436D61;
}
.left_gnb .user_name_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_gnb .user_name_wrap h2{
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 100%;
  color: #FFFFFF;
}
.left_gnb .user_name_wrap p{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: #FFFFFF;
  margin-left: 0.4rem;
}
.setting_icon{
  width: 3.2rem;
  height: 3.2rem;
}
.setting_icon > img{
  width: 100%;
}
.user_info{
  margin-top: 3.6rem;
}
.user_info > div{
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
.user_info > div:last-child{
  margin-bottom: 2.4rem;
}
.user_info p{
  width: 8.6rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
}
.user_info span{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
}
.logout_btn_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout_btn_wrap .logout{
  background: #FFFFFF;
  border-radius: 12px;
  padding: 0.4rem 1.2rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  color: #436D61;
}

/* 왼쪽 메뉴 */
.accordion {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 2.2rem 3.6rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: #303030;
}
.active, .accordion:hover {
  /* background-color: #FFFFFF; */
  border-right: 2px solid #436D61;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  color: #436D61;
}
.panel{
  /* padding: 0 4.8rem; */
  /* background-color: #FFFFFF; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-top: 1px solid #E5E5E5;
}
.panel > div{
  /* padding: 1.6rem 0; */
}
.panel > div input{
  display: none;
}
.panel > div input + label{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  color: #555555;
  padding: 1.6rem 4.8rem;
}
.panel > div input:checked + label{
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #6F9084;
  background: #F0F0F0;
}
.panel > div input + label::before{
  display: none;
}




/*  */
/* footer */
footer{
  width: 100%;
  height: 13.6rem;
  border-top: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
}
.flex_sb{
  display: flex;
  justify-content: space-between;
}
.footer_wrap {
  width: 100%;
  padding: 0 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_wrap .footer_logo{
  max-width: 15.4rem;
  margin-right: 6rem;
}
.footer_wrap .footer_logo > img{
  width: 100%;
}
.footer_text > div{
  display: flex;
  align-items: center;
}
.footer_text p{
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 100%;
  color: #999999;
  margin-right: 1rem;
}



/* 모달 */
/* 팝업 */
.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  display: none;
}
.popup .popup_wrap{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.w640{
  width: 64rem;
}
.w360{
  width: 36rem;
}
.modal{
  width:45vw;
  min-width: 36rem;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transform: translateY(0%);
  opacity: 0;
}
.modal .modal_top{
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #E5E5E5;
  padding: 2rem;
}
.modal .modal_top .modal_title{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  color: #436D61;
  text-align: center;
}
.modal .close_btn{
  width: 3.2rem;
  height: 3.2rem;
}
.modal .close_btn > img{
  width: 100%;
}
.popup_contents{
  max-height: 60rem;
  overflow-y: auto;
  padding: 2rem;
}
.bottom_btn_wrap{
  display: flex;
  border-top: 1px solid #E5E5E5;
}
.bottom_btn_wrap > button{
  width: 50%;
  padding: 1.8rem 0;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  text-align: center;
  color: #555555;
}
.bottom_btn_wrap > button:last-child{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  text-align: center;
  color: #436D61;
  border-left: 1px solid #E5E5E5;
}
.popup_contents::-webkit-scrollbar {
  width: 6px;
}
.popup_contents::-webkit-scrollbar-track {
  background: #fafafa; 
}
.popup_contents::-webkit-scrollbar-thumb {
  background: #E5E5E5; 
  border-radius: 999px;
}
.popup2{
  display: none;
}
.modal_evt{
  display: block;
  transition: all 0.3s;
}
.modal_evt .popup_wrap{
  opacity: 1;
  transition: all 0.3s;
}
.modal_evt .popup_wrap .modal{
  opacity: 1;
  transform: translateY(-10%);
  transition: all 0.3s;
} 



/* 임시 팝업 열기 버튼 */
.openPopup{
  width: 18rem;
  height: 5rem;
  border-radius: .8rem;
  background-color: #0C97D7;
  color: #FFFFFF;
  font-size: 1.6rem;
}

.w780{
  min-width: 78rem;
}
.survey_popup .survey_table_wrap{
  max-height: 35rem;
  overflow-y: auto;
}
.survey_popup .survey_table_wrap li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #E5E5E5;
  padding: 1.2rem 0;
}
.survey_popup .survey_table_wrap li p{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  color: #303030;
}
.survey_popup .survey_table_wrap li:nth-child(1){
  background: #6F9084;
  border: 1px solid #FFFFFF;
  padding: 1.2rem 0;
}
.survey_popup .survey_table_wrap li:nth-child(1) p{
  font-weight: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}
.survey_popup .survey_table_wrap li p:nth-child(1){
  width: 10%;
}
.survey_popup .survey_table_wrap li p:nth-child(2){
  width: 70%;
}
.survey_popup .survey_table_wrap li p:nth-child(3){
  width: 20%;
}
.survey_popup .question_wrap{
  margin-top: 3rem;
}
.survey_popup .question_wrap > h3{
  font-weight: 500;
  font-size: 1.6rem;
}
.survey_popup .modal{
  /* min-height: 60rem; */
}
.survey_popup .question_wrap > .radio_wrap{
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
}
.survey_popup .question_wrap > .radio_wrap > div{
  margin-right: 6rem;
}

.detail_result_wrap{
  margin-top: 6rem;
}
.detail_result_wrap > div{
  display: flex;
}
.detail_result_wrap > div > ul:nth-child(1){
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  background: #6F9084;
  border: 1px solid #FFFFFF;
}
.detail_result_wrap .detail_table li:nth-child(1) p{
  color: #FFFFFF;
}
.detail_result_wrap .category > li{
  font-size: 1.4rem;
  color: #FFFFFF;
  font-weight: 500;
}
.detail_result_wrap .detail_table{
  width: 100%;
}
.detail_result_wrap .detail_table > li{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.2rem;
  border-bottom: 1px solid #E5E5E5;
}
.detail_result_wrap .detail_table > li:nth-child(1){
  padding: 1.2rem;
  background: #6F9084;
  border: 1px solid #FFFFFF;
}
.detail_result_wrap .detail_table > li p{
  width: 16.6%;
  text-align: center;
  font-size: 1.4rem;
}
.detail_result_wrap .chart{
  height: 30rem;
  width: 100%;
}
.detail_result_wrap .chart p{
  width: 100% !important;
}

.admin_modal{
  
}
.admin_modal .info_wrap > div{
  display: flex;
  align-items: center;
  height: 5.6rem;
}
.admin_modal .info_wrap > div p{
  width: 12rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #436D61;
}
.admin_modal .info_wrap > div span{
  font-weight: 500;
font-size: 1.4rem;
line-height: 100%;
color: #303030;
}

.clickable {
    cursor: pointer;
}
.checkText {
    color:red;
    font-weight:bold;
}