@charset "utf-8";


body {
    width: 100%;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

h2,
h3 {
    font-weight: 700;
}

:root {
    --color-white: #ffffff;
    --color-green: #436D61;
    --color-black: #555555;
    --color-font: #303030;
    --color-fontgray: #999999;
    --color-linegray: #e5e5e5;
}

/* header */

header {
    width: 100%;
    height: 8.4rem;
    display: flex;
    align-items: center;
    padding: 2.2rem 18rem;
    border-bottom: 1px solid rgba(215, 218, 226, 0.15);
}


header h1 a {
    display: block;
    width: 16.2rem;
}



header .header_title img {
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 60.4rem;
    background: url(/img/img-hdscback.svg) no-repeat;
}


/* section01 */

.section01 {
    padding: 0 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52rem;
}

.section01_intro {
    color: var(--color-white);
}

.section01_intro h3 {
    font-size: 3.6rem;
}

.section01_intro p {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.login {
    position: relative;
}

.login_title {
    width: 7.2rem;
    height: 7.2rem;
    position: absolute;
    background: var(--color-green);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--color-white);
    top: -15%;
    left: 2.4rem;
    transform: translateY(30%);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.login-box {
    width: 38rem;
    /* height: 34rem; */
    background: var(--color-white);
    padding: 2.4rem;
    padding-top: 7.2rem;
    border-radius: 0.8rem;
}

.login_input h3 {
    padding: 0.4rem 0;
    font-size: 1.6rem;
}


/* section02 */

.section02 {
    display: flex;
}

.section02-intro {
    padding: 8rem 0;
    background: url(/img/img_aboutback.svg);
    padding-left: 18rem;
    width: 108rem;
}

.section02-intro_title {
    font-size: 1.6rem;
    color: var(--color-white);
    font-weight: 700;
    padding-bottom: 1.6rem;
}

.section02-intro_txt01,
.section02-intro_txt02 {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: var(--color-white);
}

.section02-intro_txt01 {
    padding-bottom: 2rem;
}

.section02-intro_txt01 span {
    border-bottom: 2.4rem;
}

.section02-notice {
    padding: 6rem;
    padding-right: 18rem;
    width: 84rem;
}

.section02-notice_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    align-items: center;
    border-bottom: 1px solid var(--color-linegray);
    padding-bottom: 1.4rem;
    margin-bottom: 3.2rem;
}

.section02-notice_title p:nth-of-type(2) {
    display: flex;
    align-items: center;
    color: var(--color-green);
    gap: 0.4rem;
    cursor: pointer;
}

.section02-notice_title p:nth-of-type(2) span:nth-of-type(2) {
    width: 2rem;
    display: flex;
    align-items: center;

}

.register_app {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
}

.register_wrap {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 0;
    align-items: center;
}

.arrowimg_wrap {
    width: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowimg_wrap img {
    width: 100%;
}

.login-box .btn.bg_gr {
    width: 100%;
}

.section02-notice_list li {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    color: var(--color-font);
    cursor: pointer;
}

.section02-notice_list li p:nth-of-type(2) {
    color: var(--color-fontgray);
}

/* footer */

footer {
    width: 100%;
    background: #3E3E3E;
    display: flex;
    align-items: center;
    padding: 3rem 18rem;
    color: var(--color-white);
    justify-content: space-between;
}


.fot_wrap {
    width: 100%;
    display: flex;
    gap: 9rem;
    font-size: 1.3rem;
}

.logo_wrap02 img {
    width: 100%;
}

.fot_select select {
    box-sizing: border-box;
    width: 13rem;
    height: 4.4rem;
    font-size: 1.4rem;
    background: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    padding: 0 1.2rem;
    -webkit-appearance: none;
    appearance: none;
    background: url(/img/ico_family_site.svg) no-repeat 95% 50%;
}



/* 글 상세 */
.board_top{
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #E5E5E5;
}
.board_top .title_wrap h3{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  color: #303030;
}
.board_top span{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  color: #999999;
}
.board_contents{
  padding: 3rem 1.6rem;
  border-bottom: 1px solid #E5E5E5;
}
.board_file_wrap{
  padding: 6rem 0 3rem;
}
.board_file_wrap button{
  display: flex;
  align-items: center;
}
.board_file_wrap button > img{
  width: 2.4rem;
}
.board_file_wrap button p{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  color: #999999;
  margin-left: .8rem;
  transition: 0.1s;
}
.board_file_wrap button p:hover{
  color: #6F9084;
}
.comment_wrap{
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: center;
  margin-top: 2.2rem;
}
.comment_wrap > textarea{
  width: 100%;
  height: 6.8rem;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  resize: none;
}
.comment_wrap button{
  width: 13rem;
  height: 6.8rem;
  background: #6F9084;
  border-radius: .8rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 100%;
  color: #FFFFFF;
  margin-left: 1.6rem;
}


/* 하단 버튼 */
.btn_wrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.8rem;
}
.btn_wrap button{
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  color: #FFFFFF;
  border-radius: .8rem;
}
.btn_wrap .bg-br{
  background: #CBBAA1;
}
.btn_wrap .bg-gr{
  background: #6F9084;
}

/* 댓글 달았을 때 */
.user_comment_wrap{
  border-top: 1px solid #E5E5E5;
  padding: 1.6rem 0;
}
.user_comment_wrap p{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: #303030;
}
.user_comment_wrap .inner_text p{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #303030;  
}
.user_comment_wrap span{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  color: #999999;
}
.user_comment_wrap .comment{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_comment_wrap .comment > div:nth-child(1){
  width: 10%;
}
.user_comment_wrap .comment > div:nth-child(2){
  width: 70%;
}
.user_comment_wrap .comment > div:nth-child(3){
  width: 20%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.date_wrap button{
  padding: .4rem 1rem;
  border-radius: .4rem;
  background-color: #6F9084;
  color: #fff;
  font-size: 1.2rem;
}
.hidden{
  display: none;
}


/* 공지사항 글 등록 팝업 */
.post_popup .w1200{
  width: 120rem;
}
.post_popup .post_title_wrap > div{
  display: flex;
  align-items: center;
}
.post_popup .post_title_wrap > div .title{
  width: 10rem;
}
.post_popup .post_title_wrap > div p{
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 100%;
  color: #436D61;
}
.post_popup .post_title_wrap > div input{
  height: 3.4rem;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
}
.post_wrap{
  /* width: 100%; */
  height: 50rem;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
}

textarea{
  padding: .8rem 1.6rem;
}
textarea::placeholder{
  color: #999999;
}

img{
    width: auto;
}
