.section {
  width: 100%;
  max-width: 1000px;
}

.contents_wrap {
  /* padding: 6rem; */
  width: 100%;
}

:root {
  --color-white: #ffffff;
  --color-green: #436D61;
  --color-lightgreen: #6f9084;
  --color-black: #555555;
  --color-font: #303030;
  --color-fontgray: #999999;
  --color-linegray: #e5e5e5;
  --color-brown: #CBBAA1;
}

/* 피험자 선택  */

.search_wrap{
  display: flex;
}
.search_wrap .category_wrap{
  display: flex;
  align-items: center;
}
.search_wrap .category_wrap .name{
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: #303030;
}
.search_wrap .category_wrap > div:nth-child(1){
  width: 16rem;
}
.search_wrap .category_wrap > div:nth-child(2){
  width: 30rem;
}
.search_wrap .category_wrap > div:nth-child(2) .dropdown{
  width: 100%;
}
.search_wrap .category_wrap .dropbtn.disable::after{
  display: none;
}
.contents.top{
  padding: 1.6rem 3.2rem;
}

/* 체질 분석 결과 통계 - 차트 */

.chart {
  display: flex;
  justify-content: center;
  /* gap: 12.5rem; */
  /* margin: 3.2rem 0; */
}

.chart > div {
  /* width: 15.7rem; */
  width: 30rem;
  height: 15.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D9D9D9
}

/* 체질 분석 결과 통계 - 리스트 */

.chart-list_wrap {
  width: 100%;
}

.chart-list {
  display: flex;
  width: 100%;
  align-items: center;
}

.chart-list .list {
  width: 100%;
}

.chart-list .list > div {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-linegray);
  border-bottom: 1px solid var(--color-linegray);
  background: var(--color-white);
  font-size: 1.4rem;
}

.chart-list .list > div:nth-of-type(1) {
  border: none;
  background: var(--color-lightgreen);
  color: var(--color-white);
  font-size: 1.6rem;
}




/* 체질 분석 현황 */

.propensity_wrap {
  margin-top: 3.2rem;
}

.propensity_text {
  width: 100%;
  font-size: 1.6rem;
  background: var(--color-brown);
  color: var(--color-white);
  font-weight: 600;
}

.propensity_text p {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.propensity_list li {
  display: flex;
}

.list_title {
  width: 100%;
  max-width: 18.3rem;
  padding: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background: var(--color-lightgreen);
  color: var(--color-white);
}

.list_detail {
  width: calc(100% - 18.3rem);
  padding: 1rem;
  font-size: 1.2rem;
  border-top: 1px solid var(--color-linegray);
  border-bottom: 1px solid var(--color-linegray);
}

/* 안내문 */

.reference-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
}