.search_wrap{
  display: flex;
}
.search_wrap .category_wrap{
  display: flex;
  align-items: center;
}
.search_wrap .category_wrap .name{
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: #303030;
}
.search_wrap .category_wrap > div:nth-child(1){
  width: 16rem;
}
.search_wrap .category_wrap > div:nth-child(2){
  width: 30rem;
}
.search_wrap .category_wrap > div:nth-child(2) .dropdown{
  width: 100%;
}
.search_wrap .category_wrap .dropbtn.disable::after{
  display: none;
}
.contents.top{
  padding: 1.6rem 3.2rem;
}

.result_menu_wrap .item{
  display: flex;
}
.result_menu_wrap .item .item_title{
  width: 18.4rem;
  padding: 2.4rem;
}
.result_menu_wrap .item .item_title h3{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  color: #436D61;
}
.result_menu_wrap .item .btn_wrap{
  display: flex;
  align-items: flex-start;
}
.result_menu_wrap .item .btn_wrap button{
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.w160{
  width: 16rem;
  height: 16rem;
}
.w-full{
  width: 33.6rem;
  height: 16rem;
}
.result_menu_wrap .item .btn_wrap button p{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  color: #303030;
  width: 100%;
  text-align: left;
  margin-top: 1.2rem;
}
.result_menu_wrap .item .btn_wrap button img{
  width: 4.8rem;
}
.result_menu_wrap .item .btn_wrap button .icon{
  width: 100%;
  text-align: right;
}
.contents.result_btn{
  padding: 6rem 3.2rem;
  display: flex;
}

/* 체형변수 */
.body_wrap > .contents{
  width: 50%;
}
.mr24{
  margin-right: 2.4rem;
}
/* table */
.body_wrap .tb_wrap{
  width: 100%;
}
.body_wrap .tb_wrap > li > ul{
  width: 100%;
  display: flex;
}
.body_wrap .tb_wrap .thead{
  width: 100%;
  background: #6F9084;
}

.body_wrap .tb_wrap .thead ul > li{
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 100%;
  color: #FFFFFF;
  padding: 1.3rem 0;
  text-align: center;
}
.body_wrap .tb_wrap .thead ul > li:nth-child(1){
  width: 15.66%;
}
.body_wrap .tb_wrap .thead ul > li:nth-child(2){
  width: 30.12%;
  min-width: 20rem;
}
.body_wrap .tb_wrap .thead ul > li:nth-child(3){
  width: 27.11%;
}
.body_wrap .tb_wrap .thead ul > li:nth-child(4){
  width: 27.11%;
}
.body_wrap .tb_wrap .tbody{
  max-height: 48rem;
  overflow-y: auto;
}
.body_wrap .tb_wrap .tbody ul{

  border-bottom: 1px solid #E5E5E5;
}
.body_wrap .tb_wrap .tbody ul > li{
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 100%;
  padding: 1.3rem 0;
  text-align: center;
}
.body_wrap .tb_wrap .tbody ul > li:nth-child(1){
  width: 15.66%;
}
.body_wrap .tb_wrap .tbody ul > li:nth-child(2){
  width: 30.12%;
  min-width: 20rem;
}
.body_wrap .tb_wrap .tbody ul > li:nth-child(3){
  width: 27.11%;
}
.body_wrap .tb_wrap .tbody ul > li:nth-child(4){
  width: 27.11%;
}
/* 체질진단 분석변수 */
.body_img_wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.6rem;
}
.body_img_wrap p{
  width: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  color: #303030;
}
.body_img_wrap > div{
  width: 34.6rem;
  display: flex;
  align-items: center;
  margin-top: 5.4rem;
}
.body_img_wrap > div > img{
  width: 100%;
}

/* 체형 표현형 */
.date_check_wrap > div:nth-child(1){
  border-bottom: 1px solid #E5E5E5;
}
.date_select {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}
.date_select > div:nth-child(1){
  max-width: 16rem;
  width: 100%;
  text-align: left;
}
.date_select > div p{
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: #303030;
}
.date_select > div span{
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 100%;
  color: #999999;
  margin-left: 1.6rem;
}
.date_select .dropdown{
  max-width: 18rem;
  width: 100%;
}
.pl16{
  padding: 1.6rem 0;
}
.btn_wrap{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 6rem;
}
.flex_end{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
article.bg-bl{
  width: 1.6rem;
  height: 1.6rem;
  background: #2E84F5;
  margin-left: .6rem
}
article.bg-red{
  width: 1.6rem;
  height: 1.6rem;
  background: #F6805A;
  margin-left: .6rem
  ;
}
/* 체형 표현 */
.value_Wrap{
  margin: 1.6rem 0;
}
.value_Wrap p{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  color: #303030;
}
.grade_table{
  width: 100%;
}
.grade_table > .thead{
  display: flex;
}
.grade_table > .thead > li{
  width: 20%;
  text-align: center;
}
.thead{
  background: #6F9084;
}
.thead li{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  color: #FFFFFF;
  padding: 1.3rem 0;
}
.tbody > li > ul{
  width: 100%;
  display: flex;
}
.tbody > li > ul > li{
  width: 20%;
  text-align: center;
}
.tbody .arr_wrap{
  width: 100%;
  height: 4rem;
}
.tbody .arr_wrap > li:nth-child(1){
  background: #6F9084;
}
.tbody .arr_wrap > li{
  background: #CBBAA1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  color: #FFFFFF;
}
.tbody .arr_wrap .left_arr{
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: relative;
}
.tbody .arr_wrap .left_arr::before{
  content: "";
  width: 0px;
  height: 0px;
  border-right: 1rem solid #FFFFFF;
  border-top: .6rem solid transparent;
  border-bottom: .6rem solid transparent;
  position: absolute;
  left: -4px;
  top: -.5rem;
}
.tbody .arr_wrap .line{
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}
.tbody .arr_wrap .right_arr{
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: relative;
}
.tbody .arr_wrap .right_arr::after{
  content: "";
  width: 0px;
  height: 0px;
  border-left: 1rem solid #FFFFFF;
  border-top: .6rem solid transparent;
  border-bottom: .6rem solid transparent;
  position: absolute;
  right: -4px;
  top: -.5rem;
}
.bar_chart{
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}
.bar_chart_wrap{
  display: flex;
  width: 100%;
}
.bar_chart_wrap > div:nth-child(1){
  width: 20%;
  background: #6F9084;
}
.bar_chart_wrap > div > ul > li{
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar_chart_wrap > div > ul > li p{
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  color: #FFFFFF;
}

.survey_table .thead{
  width: 100%;
  display: flex;
  align-items: center;
}
.survey_table .thead > li{
  width: 33.3%;
  text-align: center;
}
.survey_table .tbody > ul{
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
}
.survey_table .tbody > ul > li{
  width: 33.3%;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  text-align: center;
  color: #555555;
  padding: 1.3rem;
}



/* 체질특성분석 */
.bo_bt_none{
  border-bottom: none !important;
}
.url_btn_wrap{
  display: flex;
}
.url_btn_wrap > div:nth-child(1){
  padding: 3.2rem 1.6rem;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  min-width: 16rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
}
.url_btn_wrap > div:nth-child(2){
  padding: 3.2rem 1.6rem;
  width: max-content;
  min-width: 16rem;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.url_btn_wrap > div p{
  margin-bottom: 1.4rem;
  font-weight: 600;
font-size: 1.6rem;
line-height: 100%;
color: #303030;
}
.url_btn_wrap button{
  padding: .6rem 1.8rem;
  border-radius: 1.8rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  color: #FFFFFF;
}
.bg-br{
  background: #CBBAA1;
}
.bg-gr{
  background: #436D61;
}
.viewmore_wrap{
  background: #6F9084;
  border-radius: 8px;
  padding: 3.2rem;
  width: 100%;
}
.viewmore_wrap a{
  width: 100%;
}
.viewmore_wrap a p{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%;
  color: #FFFFFF;
  text-align: left;
}
.viewmore_wrap .icon_wrap{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.viewmore_wrap .icon_wrap > img{
  width: 2.4rem;
}


/* 체질특성 분석결과 */
/* 차트 */
.pie_chart_wrap{
  display: flex;
  width: 100%;
}
.pie_chart_wrap .small{
  width: 55%;
  height: 24rem;
  background: #E5E5E5;
}
.pie_chart_wrap .large{
  width: 45%;
  height: 24rem;
  background: #E5E5E5;
}
/* 테이블 */
.result_table{
  margin-top: 2.4rem;
}
.result_table .thead{
  display: flex;
  align-items: center;
  width: 100%;
}
.result_table .thead li{
  width: 20%;
  padding: 1.3rem 0;
  text-align: center;
}
.result_table .tbody ul{
  border-bottom: 1px solid #E5E5E5;
}
.result_table .tbody ul > li{
  width: 20%;
  padding: 1.3rem 0;
  text-align: center;
}

/* 체질별 설명 */
.body_info_wrap{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.body_info_wrap > div{
  width: calc(50% - 6rem - 1.6rem);
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  max-width: 32.8rem;
  margin-bottom: 0.8rem;
}
.body_info_wrap h3{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  color: #436D61;
}
.body_info_wrap h6{
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 100%;
  color: #303030;
  margin-right: 0.8rem;
}
.body_info_wrap p{
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 100%;
  color: #303030;
}
.opinion_wrap .flex > div:nth-child(1){
  width: 16rem;
  display: flex;
  align-items: center;
}
.opinion_wrap .flex > div:nth-child(1) p{
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: #303030;
}
.opinion_wrap .flex{
  justify-content: flex-start;
}
.opinion_wrap .flex .dropdown{
  width: 100%;
}
.opinion_wrap .flex textarea{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  resize: none;
}
.opinion_wrap .flex > div{
  width: 100%;
}
.opinion_wrap .flex span{
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 100%;
  color: #999999;
}


/* 설문변수 추가 */
.dataTable.survey_detail{
  width: 100%;
}
.dataTable.survey_detail th{
  padding: 1.2rem 0;
  background-color: #6F9084;
  color: #FFFFFF;
  font-weight: 400;
}
.dataTable.survey_detail td{
  padding: 1rem 0;
  text-align: center;
}
.dataTable.survey_detail tr td{
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}


/* 다운로드 페이지 */
.download_wrap{
  width: 100%;
  margin-top: 1.6rem;
}
.download_wrap ul li{
  margin-bottom: 3rem;
}
.download_wrap ul li h3{
  font-weight: 600;
  font-size: 1.6rem;
  color: #436D61;
  margin-bottom: .8rem;
}
.download_wrap ul li p{
  font-weight: 400;
  font-size: 1.4rem;
  color: #303030;
}