@charset "utf-8";


body {
    width: 100%;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

h2,
h3 {
    font-weight: 700;
}

:root {
    --color-white: #ffffff;
    --color-green: #436D61;
    --color-black: #555555;
    --color-font: #303030;
    --color-fontgray: #999999;
    --color-linegray: #e5e5e5;
}

.wrap {
    width: 100%;
    display: flex;
}

.wrap ul {
    width: 100%;
}

.wrap ul li {
    width: 100%;
    display: flex}